* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: "Montserrat", sans-serif, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  padding: 0;
}

input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #808080;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

h2 {
  color: #2e2f42;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33em;
  letter-spacing: 0.96px;
}

li {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  row-gap: 48px;
  list-style-type: none;
  padding: 100px 156px;
  margin: 0 auto;
  max-width: 1440px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  box-sizing: border-box;
}

img {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: block;
  object-fit: cover;
  width: 360px;
  height: 300px;
  flex-shrink: 0;
}

.item {
  background-color: #f6f6fe;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 24px;
}

#categories {
  width: 440px;
  padding: 24px;
}

.categories-list {
  margin-bottom: 16px;
  padding: 0;
}

.item > ul > li {
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 8px;
  padding: 8px 16px;
}

#name-input {
  border-radius: 4px;
  border: 1px solid #808080;
  margin-left: 24px;
  margin-top: 24px;
  margin-bottom: 16px;
  width: 360px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.64px;
}

h1 {
  width: 360px;
  margin: 0;
  margin-left: 24px;
  color: #2e2f42;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33em;
  letter-spacing: 0.96px;
}

.login-form button {
  margin-top: 8px;
  width: 86px;
  background-color: #4e75ff;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  border: none;
  border-radius: 8px;
}

.login-form button:hover {
  background-color: #6c8cff;
}

#controls {
  display: flex;
  gap: 16px;
  border-radius: 8px;
  background-color: #f6f6fe;
  padding: 32px;
  border-radius: 8px;
  margin-bottom: 16px;
  align-items: baseline;
}

#controls input {
  text-align: center;
  width: 150px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #808080;
}

#controls button {
  padding: 8px 16px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  border: none;
  border-radius: 8px;
}

#boxes {
  background-color: #f6f6fe;
  border-radius: 8px;
  display: flex;
  gap: 16px;
}

button.change-color {
  margin-top: 8px;
  width: 150px;
  height: 40px;
  background-color: #4e75ff;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  border: none;
  border-radius: 8px;
}

button.change-color:hover {
  background-color: #6c8cff;
}

button[data-create] {
  margin-top: 8px;
  width: 120px;
  height: 40px;
  background-color: #4e75ff;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  border: none;
  border-radius: 8px;
}

button[data-create]:hover {
  background-color: #6c8cff;
}

button[data-destroy] {
  margin-top: 8px;
  width: 120px;
  height: 40px;
  background-color: #ff4e4e;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  border: none;
  border-radius: 8px;
}

button[data-destroy]:hover {
  background-color: #ff7070;
}
